<div *ngIf="singleItem$ | async as item; else loadingOrError">
  <ng-container *ngIf="subSingle$ | async as subItems; else loadingOrError">
    <!-- ############ -->
    <!-- ### Card ### -->
    <!-- ############ -->
    <div class="flex h-fit flex-col gap-1">
      <div
        class="relative flex h-80 w-full gap-3 rounded bg-card shadow-sm shadow-detail"
      >
        <!-- ############# -->
        <!-- ### COVER ### -->
        <!-- ############# -->
        <div class="h-full w-1/4">
          <img
            class="h-full w-full rounded-l object-cover object-center"
            [src]="item.cover"
          />
          <div
            *ngIf="isEdit"
            class="absolute left-0 top-0 flex h-fit w-1/4 items-center justify-between p-3"
          >
            <div
              tooltip="Excluir item"
              color="card"
              [border]="true"
              position="bottom"
              [modal]="
                'Tem Certeza que deseja excluir ' + item.title + ' da lista?'
              "
              (onConfirm)="onRemoveConfirm($event)"
              class="hover-basic flex h-6 w-6 cursor-pointer items-center justify-center rounded-full border border-secondary bg-main"
            >
              <ng-icon
                class="text-xs text-secondary"
                name="heroTrashSolid"
              ></ng-icon>
            </div>
          </div>
          <div
            class="absolute bottom-0 left-0 flex h-fit w-1/4 items-center justify-between p-3"
          >
            <div
              [tooltip]="isEdit ? 'Cancelar' : 'Editar item'"
              color="card"
              [border]="true"
              class="hover-basic flex h-6 w-6 cursor-pointer items-center justify-center rounded-full border border-secondary bg-main"
              (click)="isEdit ? onCancel(item, subItems) : onEdit()"
            >
              <ng-icon
                class="text-xs text-secondary"
                [name]="isEdit ? 'heroXMarkSolid' : 'heroPencilMini'"
              ></ng-icon>
            </div>
            <button
              *ngIf="isEdit"
              class="hover-basic flex h-fit w-fit items-center justify-center gap-2 rounded bg-highlight px-2 py-1 font-semibold text-card shadow-sm shadow-detail"
              (click)="onSubmit()"
            >
              Confirmar
            </button>
          </div>
        </div>
        <div class="flex w-3/4 flex-col gap-3 p-3">
          <div class="flex items-center gap-3">
            <!-- ############## -->
            <!-- ### RATING ### -->
            <!-- ############## -->
            <app-star-rating
              class="h-6"
              [static]="item.rating"
              [model]="isEdit ? form.rating : null"
              (modelChange)="onRatingChange($event)"
            ></app-star-rating>
            <!-- ############## -->
            <!-- ### STATUS ### -->
            <!-- ############## -->
            <ng-container *ngIf="!(entry === 'albums')">
              <div
                class="flex items-center gap-3 rounded border-highlight px-2 py-1 shadow-sm shadow-detail"
                *ngIf="!isEdit; else inptStatus"
              >
                <ng-icon
                  class="text-xl text-highlight"
                  [name]="
                    entry === 'films' ? 'heroFilmSolid' : 'heroBookOpenSolid'
                  "
                ></ng-icon>
                <h3 class="text-xl font-normal text-highlight">
                  {{ (item | as : BookModel : FilmModel).status }}
                </h3>
              </div>
              <ng-template #inptStatus>
                <div
                  class="flex h-fit items-center gap-3 rounded border-highlight px-4 py-2 text-xl text-highlight shadow-sm shadow-detail"
                >
                  <ng-icon
                    [name]="
                      entry === 'films' ? 'heroFilmSolid' : 'heroBookOpenSolid'
                    "
                  ></ng-icon>
                  <select class="bg-card" id="status" [(ngModel)]="form.status">
                    <ng-template ngFor let-status [ngForOf]="statusList">
                      <option
                        [value]="status"
                        [selected]="status === form.status"
                      >
                        {{ status }}
                      </option>
                    </ng-template>
                  </select>
                </div>
              </ng-template>
            </ng-container>
          </div>
          <!-- ############# -->
          <!-- ### TITLE ### -->
          <!-- ############# -->
          <h1
            *ngIf="!isEdit; else inptTitle"
            class="text-5xl font-extrabold text-secondary"
          >
            {{ item.title }}
          </h1>
          <ng-template #inptTitle>
            <input
              type="text"
              class="input w-[calc(100%-45px)] text-2xl font-extrabold text-secondary"
              [(ngModel)]="form.title"
            />
          </ng-template>
          <!-- ############## -->
          <!-- ### ARTIST ### -->
          <!-- ############## -->
          <div class="flex flex-col">
            <h2
              *ngIf="!isEdit; else inptArtist"
              class="text-2xl font-semibold text-highlight"
            >
              {{
                entry === "albums"
                  ? (item | as : AlbumModel).artist
                  : entry === "books"
                  ? (item | as : BookModel).author
                  : entry === "films"
                  ? (item | as : FilmModel).director
                  : null
              }}
            </h2>
            <ng-template #inptArtist>
              <input
                type="text"
                class="input w-[calc(100%-45px)] text-lg font-semibold text-highlight"
                [ngModel]="
                  entry === 'albums'
                    ? form.artist
                    : entry === 'books'
                    ? form.author
                    : entry === 'films'
                    ? form.director
                    : null
                "
                (ngModelChange)="
                  updateModel($event, 'artist', 'author', 'films')
                "
              />
              <!-- ############# -->
              <!-- ### INFOS ### -->
              <!-- ############# -->
            </ng-template>
            <h3
              *ngIf="!isEdit; else inptAddInfo"
              class="text-lg font-normal text-highlight"
            >
              {{ item.genre }} | {{ item.year }} |
              {{
                entry === "albums"
                  ? subLength + " faixas"
                  : entry === "books"
                  ? (item | as : BookModel).pages + " pgs"
                  : entry === "films"
                  ? (item | as : FilmModel).runtime
                  : null
              }}
            </h3>
            <ng-template #inptAddInfo>
              <div class="flex gap-2 text-xl font-normal text-highlight">
                <input
                  type="text"
                  class="input w-52"
                  [(ngModel)]="form.genre"
                />
                <input type="text" class="input w-16" [(ngModel)]="form.year" />
                <input
                  *ngIf="!(entry === 'albums')"
                  type="text"
                  class="input w-24"
                  [ngModel]="
                    entry === 'books'
                      ? form.pages
                      : entry === 'films'
                      ? form.runtime
                      : null
                  "
                  (ngModelChange)="updateModel($event, '', 'pages', 'runtime')"
                />
                <!-- TAG INPUT -->
                <div class="relative">
                  <input
                    placeholder="Tags"
                    type="text"
                    [(ngModel)]="tagInput"
                    [ngModelOptions]="{ standalone: true }"
                    (keydown.enter)="addTag($event)"
                    class="input w-full text-lg text-secondary"
                  />
                  <button
                    class="absolute right-0 top-2 rounded px-1 py-0.5 text-detail"
                    *ngIf="tagInput.length > 0"
                    (click)="addTag($event)"
                  >
                    <ng-icon class="text-2xl" name="heroPlusCircleSolid">
                    </ng-icon>
                  </button>
                </div>
              </div>
            </ng-template>
          </div>
          <!-- ############ -->
          <!-- ### TAGS ### -->
          <!-- ############ -->
          <div class="overflow-auto">
            <div
              *ngIf="!isEdit; else inptTags"
              class="flex h-fit w-full flex-wrap items-end gap-x-px gap-y-1"
            >
              <span
                *ngFor="let tag of item['tags'].sort()"
                class="hover-basic mr-1 cursor-default rounded-sm bg-secondary px-2 py-1 text-center text-lg font-semibold leading-none text-card opacity-80"
              >
                {{ tag }}
              </span>
            </div>
            <ng-template #inptTags>
              <div
                class="flex w-full flex-wrap items-center gap-2 overflow-hidden"
              >
                <div
                  class="flex h-fit items-center gap-2 rounded bg-detail px-2 py-0.5 text-card"
                  *ngFor="let tag of form['tags'].sort()"
                >
                  {{ tag }}
                  <ng-icon
                    class="cursor-pointer"
                    (click)="popTag(tag)"
                    name="heroXCircleSolid"
                  ></ng-icon>
                </div>
                <div *ngIf="form['tags'].length === 0">
                  <h4 class="text-slate-400">Adicione uma tag</h4>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <!-- ###################### -->
      <!-- ### EDIT COVER URL ### -->
      <!-- ###################### -->
      <div *ngIf="isEdit" class="flex w-full items-center justify-center gap-3">
        <label for="coverURL" class="text-lg font-medium text-secondary">
          Url da capa:
        </label>
        <input
          type="text"
          id="coverURL"
          class="input grow rounded font-normal text-highlight shadow-sm shadow-detail"
          [(ngModel)]="form.cover"
        />
      </div>

      <!-- ##################### -->
      <!-- ### MODIFIED INFO ### -->
      <!-- ##################### -->
      <div class="flex h-fit w-full justify-between text-detail">
        <span class="flex items-center gap-1 text-base font-light">
          <ng-icon class="text-base" name="heroPlusCircleMini"></ng-icon>
          <span class="font-medium">Adicionado em:</span
          >{{ addedAt | date : "d/MMMM/y 'às' h'h'mm'm'" }}
        </span>
        <span
          *ngIf="lastModified"
          class="flex items-center gap-1 text-base font-light text-highlight"
        >
          <ng-icon class="text-base" name="heroPencilSquareMini"></ng-icon>
          <span class="font-medium text-highlight">Última modificação em:</span
          >{{ lastModified | date : "d/MMMM/y 'às' h'h'mm'm'" }}
        </span>
      </div>
    </div>

    <!-- ############### -->
    <!-- ### SubModel ## -->
    <!-- ############### -->
    <div class="mt-4 flex flex-col gap-4">
      <!-- ############## -->
      <!-- ### REVIEW ### -->
      <!-- ############## -->
      <ng-container *ngIf="entry === 'albums'">
        <app-sub-cards *ngIf="!isEdit; else inptReview">
          <ng-template #children>
            <h1 class="text-4xl font-bold text-highlight">
              Review
              <span class="text-xl font-medium text-secondary">
                by {{ (item | as : AlbumModel).albumReview.reviewer }}
              </span>
            </h1>
            <p class="p-4 text-justify text-base text-detail">
              {{ (item | as : AlbumModel).albumReview.review }}
            </p>
          </ng-template>
        </app-sub-cards>
      </ng-container>
      <ng-template #inptReview>
        <app-sub-cards>
          <ng-template #children>
            <h1 class="text-4xl font-bold text-highlight">
              Review
              <input
                [(ngModel)]="form.albumReview.reviewer"
                class="input text-xl font-medium text-secondary"
              />
            </h1>
            <textarea
              [(ngModel)]="form.albumReview.review"
              class="h-48 w-full flex-grow resize-none overflow-x-hidden p-2 text-base text-detail focus:rounded focus:shadow-md focus:outline-none"
              >{{ form.albumReview.review }}
            </textarea>
          </ng-template>
        </app-sub-cards>
      </ng-template>
      <!-- ################# -->
      <!-- ### STORYLINE ### -->
      <!-- ################# -->
      <ng-container *ngIf="entry === 'films'">
        <app-sub-cards *ngIf="!isEdit; else inptStoryline">
          <ng-template #children>
            <h1 class="text-3xl font-bold text-secondary">Sinopse</h1>
            <p class="text-justify text-base text-detail">
              {{ (item | as : FilmModel).storyline }}
            </p>
          </ng-template>
        </app-sub-cards>
      </ng-container>
      <ng-template #inptStoryline>
        <app-sub-cards>
          <ng-template #children>
            <h1 class="text-3xl font-bold text-secondary">Sinopse</h1>
            <textarea
              [(ngModel)]="form.storyline"
              class="h-36 w-full flex-grow resize-none overflow-x-hidden p-2 text-base text-detail focus:rounded focus:shadow-md focus:outline-none"
              >{{ form.storyline }}
            </textarea>
          </ng-template>
        </app-sub-cards>
      </ng-template>
      <!-- ############ -->
      <!-- ### SUBS ### -->
      <!-- ############ -->
      <span class="flex items-center justify-between">
        <h1 class="text-4xl font-bold text-highlight">
          {{ titleForSubs[entry] }}
        </h1>
        <button
          *ngIf="isEdit"
          class="hover-basic flex h-fit w-fit items-center justify-center gap-2 rounded bg-highlight px-2 py-1 font-semibold text-card shadow-sm shadow-detail"
          (click)="addSub()"
        >
          <ng-icon
            class="text-lg text-card"
            name="heroPlusCircleSolid"
          ></ng-icon>
          <span>Adicionar</span>
        </button>
      </span>

      <div class="flex flex-col gap-5">
        <ng-container
          *ngIf="subItems.length > 0 || subForm.length > 0; else noSubItems"
        >
          <ng-container [ngSwitch]="entry">
            <!-- ################## -->
            <!-- ### case: Books ## -->
            <!-- ################## -->
            <ng-container *ngSwitchCase="'books'">
              <ng-container *ngIf="!isEdit; else inptQuotes">
                <app-sub-cards *ngFor="let sub of subItems">
                  <ng-template #children>
                    <span class="text-base text-detail">
                      {{ (sub | as : QuoteModel).quote }}
                    </span>
                    <span class="text-base font-semibold text-secondary">
                      pg. {{ (sub | as : QuoteModel).page }}</span
                    >
                  </ng-template>
                </app-sub-cards>
              </ng-container>
              <ng-template #inptQuotes>
                <app-sub-cards *ngFor="let subf of subForm; index as i">
                  <ng-template #children>
                    <div class="flex flex-col gap-3">
                      <textarea
                        [(ngModel)]="subf.quote"
                        class="h-48 w-full flex-grow resize-none overflow-x-hidden p-2 text-base text-detail focus:rounded focus:shadow-md focus:outline-none"
                        >{{ subf.quote }}</textarea
                      >
                      <div class="flex items-end justify-between">
                        <div class="flex items-end gap-4">
                          <label
                            class="text-base font-bold text-secondary"
                            [for]="'quote_' + i"
                            >Página:</label
                          >
                          <input
                            [id]="'quote_' + i"
                            class="input w-20 text-base font-semibold text-detail"
                            [(ngModel)]="subf.page"
                          />
                        </div>
                        <div
                          class="hover-basic flex h-6 w-6 cursor-pointer items-center justify-center rounded-full bg-secondary"
                          (click)="deleteSub(i)"
                          tooltip="Deletar citação"
                          color="card"
                          [border]="true"
                        >
                          <ng-icon
                            class="text-base text-card"
                            name="heroXMarkSolid"
                          ></ng-icon>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </app-sub-cards>
              </ng-template>
            </ng-container>
            <!-- ################## -->
            <!-- ### case: Films ## -->
            <!-- ################## -->
            <ng-container *ngSwitchCase="'films'">
              <ng-container *ngIf="!isEdit; else inptMovieLines">
                <app-sub-cards *ngFor="let sub of subItems">
                  <ng-template #children>
                    <p class="text-base text-detail">
                      {{ (sub | as : MovieLineModel).movieLine }}
                    </p>
                  </ng-template>
                </app-sub-cards>
              </ng-container>
              <ng-template #inptMovieLines>
                <app-sub-cards *ngFor="let subf of subForm; index as i">
                  <ng-template #children>
                    <div class="flex flex-col gap-3">
                      <textarea
                        [(ngModel)]="subf.movieLine"
                        class="h-36 w-full flex-grow resize-none overflow-x-hidden p-2 text-base text-detail focus:rounded focus:shadow-md focus:outline-none"
                        >{{ subf.movieLine }}</textarea
                      >
                      <div class="flex items-end justify-end">
                        <div
                          class="hover-basic flex h-6 w-6 cursor-pointer items-center justify-center rounded-full bg-secondary"
                          (click)="deleteSub(i)"
                          tooltip="Deletar Fala"
                          color="card"
                          [border]="true"
                        >
                          <ng-icon
                            class="text-base text-card"
                            name="heroXMarkSolid"
                          ></ng-icon>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </app-sub-cards>
              </ng-template>
            </ng-container>
            <!-- ################### -->
            <!-- ### case: Albums ## -->
            <!-- ################### -->
            <ng-container *ngSwitchCase="'albums'">
              <ng-container *ngIf="!isEdit; else inptTracks">
                <app-sub-cards
                  *ngFor="let sub of subItems.sort(sortAlbumTracks())"
                >
                  <ng-template #children>
                    <h1 class="text-lg font-semibold text-highlight">
                      Faixa Nº {{ (sub | as : TrackModel).trackNumber }}
                    </h1>
                    <div class="flex justify-between">
                      <span class="text-base text-detail">
                        {{ (sub | as : TrackModel).trackName }}
                      </span>
                      <span class="text-base font-medium text-secondary">
                        {{ (sub | as : TrackModel).time }}
                      </span>
                    </div>
                  </ng-template>
                </app-sub-cards>
              </ng-container>
              <ng-template #inptTracks>
                <app-sub-cards *ngFor="let sub of subForm; index as i">
                  <ng-template #children>
                    <label
                      [for]="'track_' + i"
                      class="text-lg font-semibold text-highlight"
                    >
                      Faixa Nº
                    </label>
                    <input
                      [id]="'track_' + i"
                      class="input w-10 text-lg font-semibold text-highlight"
                      [(ngModel)]="sub.trackNumber"
                    />
                    <div class="flex justify-between">
                      <input
                        [(ngModel)]="sub.trackName"
                        class="input mr-6 grow text-base text-detail"
                      />
                      <input
                        [(ngModel)]="sub.time"
                        class="input text-base font-medium text-secondary"
                      />
                    </div>
                  </ng-template>
                </app-sub-cards>
              </ng-template>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
<!-- ############ -->
<!-- ### Erro ## -->
<!-- ############ -->
<ng-template #loadingOrError>
  <not-found
    *ngIf="appState === 'error'"
    message="O item especificado não foi encontrado na Biblioteca."
  >
  </not-found>

  <div *ngIf="appState !== 'error'" role="status">
    <svg
      aria-hidden="true"
      class="mx-auto my-16 h-16 w-16 animate-spin fill-secondary text-card dark:text-gray-600"
      viewBox="0 0 100 101"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        class="fill-card"
      />
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentFill"
      />
    </svg>
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>

<!-- ############ -->
<!-- ### noSubs ## -->
<!-- ############ -->
<ng-template #noSubItems>
  <div>
    <h2 class="text-lg font-semibold text-secondary">
      Ainda não foram criadas {{ titleForSubs[entry] | lowercase }} para este
      item.
    </h2>
  </div>
</ng-template>
