<div *ngIf="singleItem$ | async as item; else loadingOrError">
  <!-- ############ -->
  <!-- ### Card ## -->
  <!-- ############ -->
  <div class="flex h-fit flex-col gap-1">
    <div
      class="relative flex h-80 w-full gap-3 rounded bg-card shadow-sm shadow-detail"
    >
      <div class="h-full w-1/4">
        <img
          class="h-full w-full rounded-l object-cover object-center"
          [src]="item.cover"
        />
        <div
          class="absolute bottom-3 left-3 h-fit w-fit p-px"
          tooltip="Clique para editar o item"
          color="card"
          [border]="true"
        >
          <div
            class="hover-basic flex h-6 w-6 cursor-pointer items-center justify-center rounded-full border border-secondary bg-main"
            (click)="onEdit()"
          >
            <ng-icon
              class="text-xs text-secondary"
              name="heroPencilMini"
            ></ng-icon>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-3 p-3">
        <div class="flex items-center gap-3">
          <app-star-rating class="h-6" [static]="item.rating"></app-star-rating>
          <div
            class="flex items-center gap-3 rounded border-highlight px-2 py-1 shadow-sm shadow-detail"
            *ngIf="!(entry === 'albums')"
          >
            <ng-icon
              class="text-xl text-highlight"
              [name]="entry === 'films' ? 'heroFilmSolid' : 'heroBookOpenSolid'"
            ></ng-icon>
            <h3 class="text-xl font-normal text-highlight">
              {{ (item | as : BookModel : FilmModel).status }}
            </h3>
          </div>
        </div>
        <h1 class="text-5xl font-extrabold text-secondary">
          {{ item.title }}
        </h1>
        <div class="flex flex-col">
          <h2 class="text-2xl font-semibold text-highlight">
            {{
              entry === "albums"
                ? (item | as : AlbumModel).artist
                : entry === "books"
                ? (item | as : BookModel).author
                : entry === "films"
                ? (item | as : FilmModel).director
                : null
            }}
          </h2>
          <h3 class="text-xl font-normal text-highlight">
            {{ item.genre }} | {{ item.year }} |
            {{
              entry === "albums"
                ? (item | as : AlbumModel).artist
                : entry === "books"
                ? (item | as : BookModel).pages + " pgs"
                : entry === "films"
                ? (item | as : FilmModel).runtime
                : null
            }}
          </h3>
        </div>
        <div>
          <div class="flex h-fit w-full flex-wrap items-end gap-x-px gap-y-1">
            <span
              *ngFor="let tag of item['tags'].sort()"
              class="hover-basic mr-1 cursor-default rounded-sm bg-secondary px-2 py-1 text-center text-lg font-semibold leading-none text-card opacity-80"
            >
              {{ tag }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex h-fit w-full justify-between text-detail">
      <span class="flex items-center gap-1 text-base font-light">
        <ng-icon class="text-base" name="heroPlusCircleMini"></ng-icon>
        <span class="font-medium">Adicionado em:</span
        >{{ addedAt | date : "d/MMMM/y 'às' h'h'mm'm'" }}
      </span>
      <span
        *ngIf="lastModified"
        class="flex items-center gap-1 text-base font-light text-highlight"
      >
        <ng-icon class="text-base" name="heroPencilSquareMini"></ng-icon>
        <span class="font-medium text-highlight">Última modificação em:</span
        >{{ lastModified | date : "d/MMMM/y 'às' h'h'mm'm'" }}
      </span>
    </div>
  </div>

  <!-- ############### -->
  <!-- ### SubModel ## -->
  <!-- ############### -->
  <div class="mt-4 flex flex-col gap-4">
    <h1 class="text-4xl font-bold text-highlight">
      {{ titleForSubs[entry] }}
    </h1>

    <div
      class="flex flex-col gap-5"
      *ngIf="subSingle$ | async as subItems; else loadingOrError"
    >
      <ng-container *ngIf="subItems.length > 0; else noSubItems">
        <ng-container [ngSwitch]="entry">
          <!-- ################## -->
          <!-- ### case: Books ## -->
          <!-- ################## -->
          <ng-container *ngSwitchCase="'books'">
            <app-sub-cards *ngFor="let sub of subItems">
              <ng-template #children>
                <span class="text-base text-detail">
                  {{ (sub | as : QuoteModel).quote }}
                </span>
                <span class="text-base font-semibold text-secondary">
                  pg. {{ (sub | as : QuoteModel).page }}</span
                >
              </ng-template>
            </app-sub-cards>
          </ng-container>
          <!-- ################## -->
          <!-- ### case: Films ## -->
          <!-- ################## -->
          <ng-container *ngSwitchCase="'films'">
            <app-sub-cards *ngFor="let sub of subItems">
              <ng-template #children>
                <p class="text-base text-detail">
                  {{ (sub | as : MovieLineModel).movieLine }}
                </p>
              </ng-template>
            </app-sub-cards>
          </ng-container>
          <!-- ################### -->
          <!-- ### case: Albums ## -->
          <!-- ################### -->
          <ng-container *ngSwitchCase="'albums'">
            <app-sub-cards *ngFor="let sub of subItems.sort(sortAlbumTracks())">
              <ng-template #children>
                <h1 class="text-lg font-semibold text-highlight">
                  Faixa Nº {{ (sub | as : TrackModel).trackNumber }}
                </h1>
                <div class="flex justify-between">
                  <span class="text-base text-detail">
                    {{ (sub | as : TrackModel).trackName }}
                  </span>
                  <span class="text-base font-medium text-secondary">
                    {{ (sub | as : TrackModel).time }}
                  </span>
                </div>
              </ng-template>
            </app-sub-cards>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<!-- ############ -->
<!-- ### Erro ## -->
<!-- ############ -->
<ng-template #loadingOrError>
  <not-found
    *ngIf="appState === 'error'"
    message="O item especificado não foi encontrado na Biblioteca."
  >
  </not-found>
</ng-template>

<!-- ############ -->
<!-- ### noSubs ## -->
<!-- ############ -->
<ng-template #noSubItems>
  <div>
    <h2 class="text-lg font-semibold text-secondary">
      Ainda não foram criadas {{ titleForSubs[entry] | lowercase }} para este
      item.
    </h2>
  </div>
</ng-template>
