<div class="flex flex-col">
  <div class="flex h-fit items-start">
    <img
      src="../../../assets/boxWithBooks.png"
      alt="cat on a bookshelf"
      class="h-full"
    />
    <div class="flex h-full w-full flex-col gap-5">
      <h1 class="text-5xl font-extrabold text-highlight">
        Adicione um novo {{ item }}!
      </h1>
      <p class="text-base text-detail">
        Adicione um novo {{ item }} para a biblioteca. Para isso, preencha os
        campos abaixo com as respectivas informações.
      </p>
      <div class="flex gap-2">
        <label class="text-2xl text-secondary" for="item"
          >Selecione o tipo do item:</label
        >
        <select
          id="item"
          (change)="onItemSelect($event)"
          class="h-fit w-1/2 border-b-2 border-highlight bg-main px-4 py-2 text-xl text-secondary"
        >
          <option value="item">nenhum item selecionado</option>
          <option *ngFor="let type of itemTypes" [value]="type">
            {{ type }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <add-form [itemType]="item" [form]="mainForm"></add-form>
</div>
