<div class="flex flex-col">
  <div class="flex h-60 items-start border-b-2 border-detail">
    <img
      src="../../../assets/booksAndCup.png"
      alt="cat on a bookshelf"
      class="h-full"
    />
    <div class="flex h-full w-full flex-col gap-5">
      <h1 class="text-5xl font-extrabold text-highlight">Livros</h1>
      <p class="text-base text-detail">
        Aqui, você encontrará uma coleção cuidadosamente selecionada de livros,
        filmes e músicas que são muito importantes para mim. Esta biblioteca é
        um reflexo do meu gosto pessoal e dos meus interesses. Espero que você
        goste!
      </p>
    </div>
  </div>
  <div class="grid grid-cols-4 gap-5 py-3">
    <ng-template [ngIf]="books$ | async" let-books>
      <ng-container *ngFor="let book of books">
        <div
          class="relative flex h-64 flex-col items-center overflow-hidden rounded-xl transition-all hover:-translate-y-1 hover:shadow-md hover:shadow-detail"
        >
          <img
            class="z-0 h-5/6 w-full object-cover object-center"
            [src]="book['cover']"
          />
          <div
            class="absolute bottom-0 z-10 flex h-5/6 w-full bg-gradient-to-t from-card via-card via-50%"
          >
            <div
              class="flex h-4/6 flex-col gap-2 self-end overflow-hidden px-4"
            >
              <div
                class="flex h-10 w-full flex-wrap items-end gap-x-px gap-y-1"
              >
                <span
                  *ngFor="let tag of book['tags'].sort()"
                  class="mr-1 rounded-sm bg-secondary px-1 py-0.5 text-center text-xs font-semibold leading-none text-card opacity-70"
                >
                  {{ tag | tag }}
                </span>
              </div>
              <app-star-rating
                class="h-6"
                [static]="book['rating']"
              ></app-star-rating>
              <div>
                <h2
                  class="w-44 overflow-hidden text-ellipsis whitespace-nowrap text-lg font-bold text-highlight"
                >
                  {{ book["title"] }}
                </h2>
                <h3
                  class="w-44 overflow-hidden text-ellipsis whitespace-nowrap text-base italic text-secondary"
                >
                  {{ book["author"] }}
                </h3>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </div>
</div>
