<div class="flex flex-col">
  <div class="flex h-60 items-start border-b-2 border-detail">
    <img
      src="../../../assets/booksAndCup.png"
      alt="cat on a bookshelf"
      class="h-full"
    />
    <div class="flex h-full w-full flex-col gap-5">
      <h1 class="text-5xl font-extrabold text-highlight">
        Livros
      </h1>
      <p class="text-base text-detail">
        Aqui, você encontrará uma coleção cuidadosamente selecionada de livros,
        filmes e músicas que são muito importantes para mim. Esta biblioteca é
        um reflexo do meu gosto pessoal e dos meus interesses. Espero que você
        goste!
      </p>
    </div>
  </div>
</div>
