<div class="flex grow-0 items-end gap-4">
  <label *ngIf="!static" class="text-2xl text-secondary" for="rating"
    >Nota</label
  >
  <div class="flex items-center gap-1">
    <span
      *ngFor="let i of [1, 2, 3, 4, 5]"
      class="inline-block text-2xl"
      [ngClass]="{ 'cursor-pointer': !static }"
      (click)="!static ? mainForm.get('rating')?.setValue(i) : null"
    >
      <ng-icon
        [name]="
          i <= (!static ? mainForm.get('rating')?.value : static)
            ? 'heroStarSolid'
            : 'heroStar'
        "
        color="gold"
      ></ng-icon>
    </span>
  </div>
</div>
